body{
  overflow: hidden;
  background-image: url('./assets/images/brick-bg.png');
}
.game-container{
  display: flex;
  overflow: hidden;
}
  
  .questionObj {
    position: absolute;
    display: flex;
    height: 15vw;
    width: 15vw;
    max-height: 250px;
    max-width: 250px;
    min-height: 100px;
    min-width: 100px;
    background-image: url('assets/images/dart-board.svg') ;
    background-size: contain;
    font-size: medium;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    
  }
  .questionObj p{
    font-size: larger;
    color: white;
    background: black;
    padding: 0.7vw;
    border-radius: 10px;
  }

  .hiddenQuestionObj{
    display: none;
  }
  h1 {
    font-family: sans-serif;
  }

#fname {
  text-transform:uppercase
}

#scoreShow {
  width: 50%;
    margin: 1.5%;
    background-color: #2d283e;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    padding: 2.5%;
    color: white;
    text-align: center;
    margin: auto;
}

#scoreBody {
  background-color: darkgray;
}
  
  .game-lines{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  .game-line{
    background-color: black;
    width: 100%;
    height: 2.5vh;
    position: relative;
    border-bottom: solid #c7c7c7 2.5px;
    border-top: solid #c7c7c7 2.5px;
  }
  .bar-1{
    top: 12.5vh;
  }
  .bar-2{
    top: 42.5vh
  }
  .bar-3{
    top: 75vh;
  }

  #timerView{
    left: 50% ;
    top: 2%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: rgb(43, 42, 42);
    border-radius: 10px;
    padding: 10px;
    height: min-content;
    color: white;
    margin: 0 auto;
    border: solid 1px white
  }
  #inputValue{
    top: 70%;
    left: 50%;
    min-width: 10vw;
    max-width: 30vw;
    overflow-x:auto;
     background: #1ac537;
    border: 1px solid red;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 10px;
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 2px rgb(255, 255, 255); /* width and color */
    font-family:  monospace;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    padding: 0.5vw;
  }

  @media (max-height: 650px) {
    .bar-3{
      visibility: hidden;
    }
  }


  /* End Game Modal */
.gameEnd-modal{
  position: absolute;
}


  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
/* Home page Styling */
.game-selector-panel{
  background-color: #2d283e;
  border-radius: 10px;
  box-shadow: 10px 10px 10px black;
  width: fit-content;
  padding: 2.5%;
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-selector-buttons{
  display: flex;
  justify-content: space-around;
}
.game-selector-buttons button{
  background-color: #2d283e;
  border-radius: 10px;
  box-shadow: 10px 10px 10px black;
  width: fit-content;
  padding: 2.5%;
  color: white;
  margin: auto;
  text-align: center;
}
.game-selector-buttons button, #easy{
  background-color: #1ac537;
}

.game-selector-buttons button, #medium{
  background-color: rgb(255, 196, 0);
}

.game-selector-buttons button, #hard{
  background-color: rgb(255, 0, 0);
}